/*set the padding and margin for the homepage*/
*{
    margin: 0;
    padding: 0;
}
/*sets the font and weight of the body*/
body{
    float: outside;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    background: #fff1d0;
}
/*center the h1 tag*/
h1{
    text-align: center;
    font-family: 'Monoton', cursive;
    background: #dd1c1a;
    color: #f0c808;
}
/*centers the h3 tags*/
h3{
    color: #006992;
    text-align: center;
}
.color1{
    color: #006992;
}
.color2{
    color: #f0c808;
}
.color3{
    color: #dd1c1a;
}
.color4{
    color: #fff1d0;
}
/*changes font size, removes decoration, and changes color of a tags*/
a{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #006992;
}
.resize{
    font-size: 14px;
    text-align: center;
}
/*class that changes color of text and background for the assigned tags*/
.bback{
    background: #dd1c1a;
    border-top: solid 4px #f0c808;
    border-bottom: solid 4px #f0c808;
}
.cback{
    background: #f0c808;
    border: solid 3px #006992;
}
.font1{
    font-size: 15px;
}
/*places assigned tag in the the very center of the page and changes size and weight of font*/
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: 40px;
}
/*changes size, position, and background of assigned tags as well as hide it*/
.welcome-section{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #006992;
    overflow: hidden;
}
/*assigns position of the tag it is associated with*/
.content-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*removes style of assigned tag*/
.fly-in-text{
    list-style: none;
}
/*sets the font, display type, size, color, and opacity of the associated tag as well as the transition time*/
.fly-in-text li{
    font-family: 'Monoton', cursive;
    display: inline-block;
    margin-right: 20px;
    font-size: 4em;
    color: #f0c808;
    opacity: 1;
    transition: all 1s ease;
}
/*makes margin of this specific child 0*/
.fly-in-text li:nth-child(5){
    margin-right: 0;
}
/*creates the enter "button" of the welcome screen*/
.enter-button{
    font-family: 'Monoton', cursive;
    display: block;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #fff1d0;
    opacity: 1;
    margin-top: 30px;
    transition: all 1s ease 1s;
}
/*assigns every character/child in the list a position*/
.content-hidden .fly-in-text li{ opacity: 0; }
.content-hidden .fly-in-text li:nth-child(1){transform: translate3d(-90px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(2){transform: translate3d(-60px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(3){transform: translate3d(-30px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(4){transform: translate3d(0px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(5){transform: translate3d(30px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(6){transform: translate3d(60px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(7){transform: translate3d(90px, 0, 0); }
.content-hidden .enter-button{opacity: 0; transform: translate3d(0, -30px, 0); }