
.lineUp{
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    /*grid-auto-rows: 10px;*/
    /*added more content sections in order to so that all the information on page does not overlap each other*/
    grid-template-areas:
            "header header header header header header header"
            "section1 section2 section2 section3 section5 section6 section7"
            "content1 content1 content1 content1 . im1 ."
            "im2 im2 . content2 content2 content2 content2"
            "content3 content3 content3 content3 . . ."
            "im3 im3 im3 content4 content4 content4 content4"
            "footer footer footer footer footer footer footer";
}
body{
    background: #fff1d0;
}
header{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 30px;
    grid-area: header;
}
h1{
    background: #dd1c1a;
    color: #f0c808;
    margin-left: 400px;
    margin-right: 400px;
}
footer{
    grid-area: footer;
    text-align: left;
}
.sub1{
    grid-area: section1;
}
.sub2{
    grid-area: section2;
}
.sub3{
    grid-area: section3;
}
.sub4{
    grid-area: section4;
}
.sub5{
    grid-area: section5;
}
.sub6{
    grid-area: section6;
}
.sub7{
    grid-area: section7;
}
.im1{
    grid-area: im1;
    width: 500px;
    height: 500px;
}
.im2{
    grid-area: im2;
    width: 500px;
    height: 700px;
}
.im3{
    grid-area: im3;
    width: 700px;
    height: 400px;
}
/*removed the list style of the list tags so that the dots do not appear*/
.p1{
    list-style: none;
    grid-area: content1;
    font-size: 23px;
}
/*new p# classes to put more info into*/
.p2{
    list-style: none;
    grid-area: content2;
    margin-left: 5%;
    font-size: 23px;
}
.p3{
    list-style: none;
    grid-area: content3;
    font-size: 23px;
}
.p4{
    list-style: none;
    grid-area: content4;
    margin-left: 23%;
    font-size: 23px;
}
.subheader{
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    text-decoration: none;
    color: #006992;
}
.bback{
    background: #dd1c1a;
    color: #f0c808;
}
/*underlines assigned tags*/
.underlined{
    text-decoration: underline;
}
/*creates a black bordered background for assigned tags*/
.box{
    border: solid 2px #006992;
    background: #dd1c1a;
    color: #f0c808;
}
.color1{
    color: #006992;
}