.lineUp{
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    /*grid-auto-rows: 10px;*/
    grid-template-areas:
            "header header header header header header header"
            "section1 section2 section2 section3 section5 section6 section7"
            "content content content content content content content"
            "footer footer footer footer footer footer footer";
}
body{
    background: #fff1d0;
}
header{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 30px;
    grid-area: header;
}
h1{
    background: #dd1c1a;
    color: #f0c808;
    margin-left: 400px;
    margin-right: 400px;
}
footer{
    margin-top: 30px;
    grid-area: footer;
    text-align: left;
}
.sub1{
    grid-area: section1;
}
.sub2{
    grid-area: section2;
}
.sub3{
    grid-area: section3;
}
.sub4{
    grid-area: section4;
}
.sub5{
    grid-area: section5;
}
.sub6{
    grid-area: section6;
}
.sub7{
    grid-area: section7;
}
.p1{
    grid-area: content;
    height: 240px;
    width: 320px;
}
.subheader{
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    text-decoration: none;
    color: #006992;
}
.bback{
    background: #dd1c1a;
    color: #f0c808;
}
.color1{
    color: #006992;
}