header{
    grid-area: header;
}
h1{
    text-align: center;
}
.lineUp{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-auto-rows: 10px;
    grid-template-areas:
            "header header header"
            "section1 section2 section3"
            "content content content"
            "footer footer footer";
}
.sub1{
    display: inline-block;
    grid-area: section1;
}
.sub2{
    display: inline-block;
    grid-area: section1;
}
.sub3{
    display: inline-block;
    grid-area: section2;
}
.sub4{
    display: inline-block;
    grid-area: section2;
}
.sub5{
    display: inline-block;
    grid-area: section2;
}
.sub6{
    display: inline-block;
    grid-area: section3;
}
.sub7{
    display: inline-block;
    grid-area: section3;
}
.subheader{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.bback{
    background: black;
    color: white;
}